<div class="m-3">
  <h1>Welcome to the Restaurant DB</h1>
  <%= link_to "add", new_restaurant_path, class: "btn btn-dark m-1" %>

  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-outline-dark btn-lg m-1"%></h3>
    <p><%= ["Delicious", "Scrummy", "Tasty", "Wholesome", "Delightful", "Sumptious", "Latest", "Fusion", "Hearty", "Home-made", "Gentrified"].sample %> <%= restaurant.category %> food at <%= restaurant.address %></p>
    <p class="border-bottom">Phone number: <%= restaurant.phone_number %></p>
  <% end %>
</div>
