<div class="m-3">
  <p id="notice" class="alert alert-success"><%= notice %></p>

  <div class="shadow text-center">
    <h1><%= @restaurant.name %></h1>
    <p>Address: <%= @restaurant.address %></p>
    <br>
    <h3>Local <%= @restaurant.category %> food</h3>
    <p class="border-bottom">Contact: <%= @restaurant.phone_number %></p>
  </div>

  <h2>Reviews:</h2>

  <%= link_to "add review", new_restaurant_review_path(@restaurant), class: "btn btn-dark m-1" %>

  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><%= '😇' * review.rating %></p>
  <% end %>

  <%= link_to 'back', restaurants_path, class: "btn btn-light m-1" %>
</div>
