<div class="m-3">
  <h1>Add a review</h1>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, as: :select, collection: [0, 1, 2, 3, 4, 5] %>
    <%= f.input :content %>
    <%= f.submit :submit, class: "btn btn-dark m-1" %>
  <% end %>

  <%= link_to 'back', restaurant_path(@restaurant), class: "btn btn-light m-1" %>
</div>
